.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  background-color: white;
  padding: 20px 10px;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 40px 80px;
  }
}

/* come back to this class */
.airbnb-mock__filter-drawer {
  position: relative;
  /* keep submit button at bottom */
  padding-bottom: 15vh;
}

@media screen and (min-width: 576px) {
  .airbnb-mock__filter-drawer {
    padding-bottom: 0;
  }
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.heading {
  margin: 0;
  font-size: 0.8rem;
  color: #333333;
}

.close-button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  border-width: 0;
  margin: 0 0 -4px 0;
  padding: 0;
  color: #333333;
}

.form {
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgb(0 0 0 / 10%);
  overflow: hidden;
  margin-bottom: 35px;
}

@media (min-width: 578px) {
  .form {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40% auto;
  }
}

/* .input-container {
  display: flex;
  flex-direction: column;
} */

.input__container {
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55px;
  padding: 0 26px;
}


.input__container--location {
  border-bottom: 1px solid #f2f2f2;
}

.input {
  border-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  color: #333333;
  font-size: 0.9rem;
}

/* is input--location used? */

.guest-number__container-0 {
  color: #bdbdbd;
}

.label {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.6rem;
  color: #333333;
}

.button {
  position: absolute;
  bottom: 0;
  width: 126px;
  height: 48px;
  background-color: rgba(235, 87, 87, 0.9);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: inherit;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 578px) {
  .filter-drawer-form_submit-button {
    position: static;
    align-self: center;
  }
}

.button__icon {
  margin-right: 5px;
}

/* .filter-drawer__filter {
  font-family: "Mulish", sans-serif;
} */

.filter__container--location {
  font-family: "Mulish", sans-serif;
  border: 1px solid red;
}

.guests-container {
  min-height: 240px;
}

@media (min-width: 576px) {
  .filter__container--guests__container {
    display: grid;
    grid-template-columns: 40% 60%;
    border: 2px solid purple;
  }
}

@media (min-width: 576px) {
  .filter-drawer__filter--guests {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.filter-location__list {
  list-style-type: none;
  padding: 0 0 0 1rem;
  margin: 0;
}

.filter-location__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  color: #4f4f4f;
  font-size: 0.9rem;
}

.filter-location-list-item__icon {
  padding-right: 8px;
  font-size: 20px;
}

@media (min-width: 576px) {
  .filter-drawer__filter--location {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

/* .filter-drawer-guests__container {
  padding: 0 16px;
  font-size: 0.9rem;
  color: #333333;
} */

.guests__container--adults {
  margin-bottom: 50px;
  padding: 0 16px;
  border: 5px solid pink;
}

.guests__title {
  font-weight: 800;
  padding-bottom: 5px;
  margin: 0;
  color: red;
}

.guests__meta {
  margin: 0 0 15px 0;
  color: #bdbdbd;
}

.guests__button-container {
  display: flex;
  align-items: center;
}

.guest-button {
  height: 23px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #828282;
  color: #828282;
  border-radius: 4px;
  background-color: transparent;
  
}

.guests__button--disabled-true {
  color: #cccccc;
  border: 1px solid #cccccc;
}

.guest__number-value {
  margin: 0 15px;
}
