.app-container {
  padding: 20px 10px;
}

@media screen and (min-width: 1200px) {
  .app-container {
    padding: 40px 80px;
  }
}

.airbnb-clone__header {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "airbnb-clone__header"
    "airbnb-clone__text-container"
    "airbnb-clone__cards-container";
  grid-template-rows: 120px 80px auto;
  grid-template-columns: 100%;
}

.airbnb-clone__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .airbnb-clone__container {
    flex-direction: row;
  }
}

.airbnb-clone__logo--filter-drawer-visible-true {
  opacity: 0;
}
