.app-container {
  padding: 20px 10px;
}

@media screen and (min-width: 1200px) {
  .app-container {
    padding: 40px 80px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
  .header{
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.link {
  margin-bottom: 30px;
}
