.container {
  display: flex;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .container {
    margin-right: 0;
  }
}

.input-container {
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  height: 55px;
  display: flex;
  /* prevents cutting off of border-radius */
  overflow: hidden;
  font-size: 0.9rem;
  color: #333333;
  box-sizing: content-box;
}


.input {
  font-family: "Mulish", sans-serif;
  border-color: transparent;
  outline: none;
  height: 55px;
  border: none;
  padding: 0 16px;
  border-right: 1px solid #f2f2f2;
  color: #333333;
}
/* 
this has this class on it too - need to add and tweak */

.input--location {
  background-color: transparent;
  /* hack for input type="text" */
  max-width: 108px;
}

.guests-container {
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-right: 1px solid #f2f2f2;
}

/* multiple classes are knackered */

/* .guests-container--0-guests {
  color: #bdbdbd;
} */

.submit-button {
  background-color: inherit;
  height: 55px;
  width: 55px;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(235, 87, 87, 0.9);
  cursor: pointer;
}

.icon-container {


  /* need to update config to be able to do below, see -  https://nextjs.org/docs/pages/building-your-application/configuring/post-css and https://github.com/vercel/next.js/issues/10475 */
  width: 24px;
  height: 24px;
  /* svg {
    color: rgba(235, 87, 87, 0.9);
  }  */
}


/* add this above */
.submit-button:focus {
  outline: none;
}


